{% extends 'base.html.twig' %}

{% block body %}

       
    <div class="container">
        <div  id="haut" class="search-bar p-2 m-1">
            <form class="form-horizontal" method="post" accept-charset="utf-8">  <!-- barre de recherche Homepage -->
                <div class="input-group recherche">
                    <i class="fas fa-search fa-2x pl-3 my-auto"></i>
                    <input type="text" id="search-input" autocomplete="off" value="" class=" form-control border-none search-input"
                            placeholder="Que recherchez-vous?">
                        <div class="btn-container">
                            <button type="submit" class="btn-custom">Rechercher</button>
                      </div>
                </div>
            </form>
        </div>
       
        
        <div class="row">        
            <div id="hits"> <!-- Instantsearch.js -->
                <script type="text/html" id="hit-template">
                    <div id="hit">
                        <a class="card cardlink" href="{{ path('root') }}event/{% verbatim %}{{{ objectID }}}{% endverbatim %}">
                            <img class="card-img-top hit-image" src="{% verbatim %}{{{image}}}{% endverbatim %}" 
                              alt="image de l'évenement"> <!-- image de l'événement -->
                            <div class="card-body pb-3" id="hit-content">
                                <p class="card-subtitle text-muted ">{% verbatim %}{{{_highlightResult.place.value}}}{% endverbatim %}</p> <!-- lieu -->
                                <h4 class="card-title">{% verbatim %}{{{_highlightResult.name.value}}}{% endverbatim %}</h4> <!-- nom de l'événement -->
                                <p class="card-text">{% verbatim %}{{{_highlightResult.description.value}}}{% endverbatim %}</p> <!-- description -->
                                <p class="card-subtitle text-muted">Réservation</p><hr>
                            </div>
                        </a>
                    </div>
                </script>
            </div>
        </div>
    </div>    
    
    <a href="#haut" class="arrowtop"><i class="fas fa-angle-up fa-3x"></i></a>

    <script src="{{asset('js/app2.js')}}"></script>
{% endblock %}