{% extends 'base.html.twig' %}

{% block title %} Votre Festival {% endblock %}

{% block body %}
    <div>
        <img src="/img/festival_1.jpg" class="eventbanner">
    </div>         
                
    <div class="row">
        <div class="col">
            <ul>
                <li>{{ event.name }}</li>
                <li>{{ event.place }}</li>
                <li>{{ event.phone }}</li>
                <li>{{ event.theme }}</li>
                <li>{{ event.website }}</li>
            </ul>
        </div>
    </div>

    {#{%  include 'product/event_product_inc.html.twig' with { 'productEvent' : productEvent } %}#}
    {{ render(controller(
        'App\\Controller\\ProductController::displayEventProduct',
        { 'event' : event.id }
    )) }}

{% endblock %}
