{% extends 'base.html.twig' %}

{% block title %} Votre Festival {% endblock %}

{% block body %}
    <div class="container">
        <div class="eventbanner img-fluid">
              
        </div> 
        
        <div class="eventdetails mt-3">
            <h1>{{ event.name }}</h1>
             
            <ul>  
               {# <li>{{ event.description }}</li>#}
                <li><i class="fas fa-phone"></i>{{ event.phone }}</li>
                <li>{{ event.theme }}</li>
                <a href="{{ event.website }}">{{ event.website }}</a>
            </ul>
        </div>
    {#{%  include 'product/event_product_inc.html.twig' with { 'productEvent' : productEvent } %}#}
    {{ render(controller(
        'App\\Controller\\ProductController::displayEventProduct',
        { 'event' : event.id }
    )) }}
    </div>

{% endblock %}
