{% extends 'base.html.twig' %}

{% block body %}

    <div class="row mx-auto">

        <div class="col-md-3 text-center offset-md-1 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h3><i class="far fa-address-card mr-1"></i>Mon Profil</h3>
                    <p class="card-title">{{ user.name }} {{ user.lastname }}</p>
                </div>
                <div class="card-body">
                    <p><i class="far fa-building"></i> : {{ user.company }} </p>
                    <br>
                    <p><i class="far fa-envelope"></i> : {{ user.email }} </p>
                    <br>
                    <p><i class="fas fa-phone-square"></i> : {{ user.phone }} </p>
                </div>
                <a role="button" class="btn btn-info active" value="submit" aria-pressed="true"
                   href="{{ path('edit_user', {'id' : user.id }) }}">
                    Modifier Mon Profil <i class="far fa-edit"></i></a>
            </div>
        </div>

        <div class="col-md-7 pl-3 col-sm-12">
            {% include 'event/events_list_owner_inc.html.twig' with { 'eventOwner' : user.event } %}
            <a role="button" class="btn btn-outline-success active btn-block py-lg-4 active my-3" value="submit"
               aria-pressed="true"
               href="{{ path('addEvent', {'id' : user.id }) }}">
                Ajouter un événement <i class="fas fa-plus"></i></a>
        </div>
    </div>
{% endblock %}