{% extends 'base.html.twig' %}

{% block body %}
    <div class="row text-center">
        
        <div class="col-md-5">
            <div class="card">
                
                <img class="card-img-top" src="" alt="">
                <div class="card-body">
                    <h3><i class="far fa-address-card"></i> Mon Profil</h3>
                    <p class="card-title">{{ orga.name }} {{ orga.lastname }}</p>
                </div>
                <div class="card-body">
                    
                    <p>Inscrit depuis le : </p>
                    <br>
                    <p><i class="far fa-building"></i> : {{ orga.company }} </p>
                    <br>
                    <p><i class="far fa-envelope"></i> : {{ orga.email }} </p>
                    <br>
                    <p><i class="fas fa-phone-square"></i> : {{ orga.phone }} </p>
                </div>
                    <a role="button" class="btn btn-info active" value="submit" aria-pressed="true" href="{{ path('edit_user', {'id' : orga.id }) }}"> 
                            Modifier Mon Profil <i class="far fa-edit"></i></a>
            </div>
        </div>
                
        <div class="col-md-9">
         {{ render(controller(
                'App\\Controller\\EventController::displayEvent'
            )) }} 
        </div>
    </div> 
{% endblock %}